<div id="header-container">
	<header class="wrapper">
		<div id="prof-name">
			<h1 id="title"><a href="http://akerue.github.io">{{site.author.name}} ({{site.author.nickname}})</a></h1>
			<div id="description">
				<p>Welcome to my profile page! My name is Yuuki Kobayashi.
				My handle name is "akerue". That means I know nothing.
				That name is backward reading of "EUREKA".</p>
			</div>
		</div>
		<div id="prof-img">
			<img src="images/prof.jpg" alt="prof picture" />
		</div>
	</header>
</div>
