body {
	margin: 0px 100px;
	padding: 0px 30px;
}

#main {
	padding: 5px 20px;
}

h1 {
  color: #11d;
}

h2 {
  color: #161;
  margin-left: 10px;
}

#link {
	height: 150px;
}

ul li {
	list-style: none;
}

#link ul li {
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

#link ul li img {
	height: 100px;
	width: 100px;
}

header {
	margin-top: 20px;
	height: 180px;
	border-bottom: 10px solid #a33;
	padding: 10px;
}

.wrapper {
	overflow: hidden;
}

#prof-name {
	margin: 0px 50px;
	float: left;
}

#title a {
	text-decoration: none;
	color: black;
}

#description {
	margin-left: 20px;
	width: 500px;
}

#prof-img {
	margin: 0px 50px;
	float: left;
}

#prof-img img {
	width: 150px;
	height: 150px;
}

footer {
  background-color: #a33;
  color: #fff;
}

